//Global colors
$orange-color: #f4743b;
$lemon-color: #beee62;
$green-color: #70ae6e;
$brown-color: #483c46;
$blue-color: #3c6e71;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 4.5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
}

ul {
  margin-left: 0;
  list-style: none;
  padding-left: 0;
}

.section-header {
  span {
    text-transform: uppercase;
    color: $orange-color;
    font-weight: 600;
    font-size: 1.2em;
    padding-bottom: 10px;
  }

  h2 {
    padding-top: 1rem;
  }
}

.btn-primary {
  background-color: $green-color;
  border: 1px solid $green-color;
  padding: 15px 20px;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  &:hover {
    background-color: $orange-color;
    border: 1px solid $orange-color;
  }
}

.btn-secondary {
  background-color: $green-color;
  border: 1px solid $green-color;
  padding: 10px 15px;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  &:hover {
    background-color: $orange-color;
    border: 1px solid $orange-color;
  }
}

header {
  nav {
    .nav-link {
      font-size: 1em;
      color: white;
      text-transform: uppercase;
      font-weight: 500;
      margin-left: 20px;
      &:hover {
        color: $orange-color;
      }
    }

    .logo {
      text-transform: uppercase;
      font-size: 1.3em;
      font-weight: 700;
      color: $lemon-color;
      &:hover {
        color: $orange-color;
      }
    }
  }
}

.section-1 {
  .hero {
    background:
      linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0.5) 25%,
        rgba(0, 0, 0, 0.4) 50%,
        rgba(0, 0, 0, 0.5) 75%,
        rgba(0, 0, 0, 0.7) 100%
      ),
      url("../images/hero.jpg");

    min-height: 800px;
    color: white;

    span {
      color: $lemon-color;
      font-size: 1.5em;
      font-weight: 600px;
    }
  }
}

.section-2 {
  img {
    border-radius: 30px;
  }

  span {
    display: block;
    text-transform: uppercase;
    color: $orange-color;
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 15px;
  }
}

.section-3 {
  .item {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    &:hover {
      .service-body {
        transform: translateY(0%);
        .service-content {
          opacity: 1;
        }
      }
    }
    .service-image {
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        border-radius: 40px;
        aspect-ratio: 1/1.2;
        object-fit: cover;
      }
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 40px;
        background: linear-gradient(
          180deg,
          rgba(217, 217, 217, 0) 0%,
          rgba(217, 217, 217, 0) 13.02%,
          rgba(0, 0, 0, 0.51) 42.5%,
          rgba(0, 0, 0, 0.63) 70%,
          #000000 100%
        );
      }
    }

    .service-body {
      color: white;
      position: absolute;
      left: 30px;
      right: 30px;
      bottom: 30px;
      transform: translateY(75%);
      transition: all 0.4s ease-in-out;

      .service-content {
        transition: all 0.4s ease-in-out;
        opacity: 0;
      }
    }
  }
}

.section-4 {
  .card {
    border: none;
    padding: 24px;
    margin-top: 24px;
    border-radius: 40px;

    .header {
      display: flex;
      align-items: center;
      padding-bottom: 16px;
    }
  }
}

.section-5 {
  .swiper {
    padding: 25px 25px 50px 25px;

    .swiper-pagination-bullet-active {
      background-color: $brown-color;
    }
  }

  .card {
    border: none;
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 40px;
    .card-body {
      padding: 48px;
      .rating {
        display: flex;
        color: $orange-color;
        gap: 5px;
      }

      .content {
        padding-top: 24px;
        padding-bottom: 8px;
        p {
          font-size: 1em;
        }
      }

      .person {
        display: flex;
        img {
          width: 50px;
          border-radius: 50%;
        }
        .person-info {
          padding-left: 16px;

          .name {
            font-size: 1.3em;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.section-6 {
  .card {
    border: none;
    border-radius: 20px;
    img {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    .card-body {
      padding: 24px;

      .card-title {
        margin-bottom: 8px;
        a {
          font-size: 1.4em;
          font-weight: 500;
        }
      }
    }
  }
}

.about-section-1 {
  .hero {
    background:
      linear-gradient(
        to right,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      ),
      url("../images/hero.jpg");

    min-height: 500px;
    color: white;

    span {
      color: $lemon-color;
      font-size: 1.5em;
      font-weight: 700;
    }
  }
}

.about-section-2 {
  .card {
    border: none;
    border-radius: 20px;
    margin-bottom: 24px;
    img {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    .card-body {
      padding: 24px;

      .card-title {
        margin-bottom: 0px;
        a {
          font-size: 1.5em;
          font-weight: 500;
        }
      }
      .card-subtitle {
        a {
          font-size: 1.3em;
          color: rgb(131, 130, 130);
        }
      }
      .card-logo{
          margin-top: 0.5rem;
      }
    }
  }
}

footer {
  background-color: $brown-color;
  color: white;

  h3 {
    text-align: center;
    color: $lemon-color;
    margin-bottom: 16px;
  }

  .footer-logo {
    text-align: left;
  }

  a {
    text-decoration: none;
    color: white;
    &:hover {
      color: $green-color;
    }
  }

  ul {
    li {
      padding: 5px 0px;
      text-align: center;
    }
  }
}
